{
    "name": "test-policy-w-config",
    "version": { policyVersion },
    "dependencies": {
        "@codeinfra/policy": "^1.1.0"
    },
    "devDependencies": {
        "@types/node": "^10.12.7"
    }
}
